/* SECOND WINDOW */
.sw_products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product {
    width: 33%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}
.product p {
    font-weight: 300;
    font-size: 20px;
}
.product img {
    height: 250px;
}
.second_window {
    height: auto;
}
@media (max-width: 750px) {
    .choose_window {
        height: auto;
    }
    .sw_products {
        flex-direction: column;
        justify-content: center;
    }
    .product {
        width: auto;
    }
}